{% extends "base.html" %} {% block content %}

<section id="styles" class="column large-full">

    <div class="row half-bottom">

        <div class="column large-6 tab-full animated animate-this" style="text-align: center;">
            <img src="../static/img/aboutme.svg" class="aboutme-img">
        </div>

        <div class="column large-6 tab-full animated animate-this">
            <h1>About me</h1>
            <p>I am a recently graduated data scientist/software engineer, feeling like a "forever student",
                interested in sustainabiliy and graphic design, eager to create data-oriented softwares.
            </p>
            <p>Feel free to contact me at tolgahan.cepel@gmail.com</p>
        </div>

    </div>  <!-- end row -->

</section>

{% endblock %}